input[type=button] {
    outline: none;
}

.ToolBarIcon {
    position: fixed;
    left: 0em;
    top: 0em;
    z-index: 1001;
}

.ToolBarIcon_right {
    position: fixed;
    right: 0em;
    top: 0em;
    z-index: 1001;
}

.ToolBarMenu {
    position: fixed;
    left: -10em;
    top: 0;
    white-space: nowrap;
    width: 10em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;
    z-index: 1001;
}

.ToolBarMenu_right {
    position: fixed;
    right: -10em;
    top: 0;
    white-space: nowrap;
    width: 10em;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    z-index: 1001;
}

.ToolBarAnimation {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-delay: 0.3s;
}


.AssistToolBarMenu {
    position: fixed;
    right: 0em;
    top: 0;
    white-space: nowrap;
    width: 3.6em;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    z-index: 1001;
}

.AssistToolBarMenu-Bottom {
    position: fixed;
    bottom: -0.5em;
    white-space: nowrap;
    width: 100%;
    -ms-overflow-style: none;
    z-index: 1001;
    text-align: center;
}

.AssistToolBarMenu-Bottom ul {
    display: inline-block;
}

.AssistToolBarMenu-Bottom ul li {
    float: left;
    display: block;
}

#ToolBarMenu ul, #AssistToolBarMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#ToolBarMenu ul li,
#ToolBarMenu ul li:hover,
#ToolBarMenu ul li label,
#ToolBarMenu ul li label:hover,
#AssistToolBarMenu ul li,
#AssistToolBarMenu ul li:hover,
#AssistToolBarMenu ul li label,
#AssistToolBarMenu ul li label:hover {
    cursor: pointer;
}

.ToolBarMenu ul li img,
.ToolBarMenu_right ul li img {
    width: 35%;
    height: 35%;
    opacity: 1;
}

.ToolBarMenu ul li label,
.ToolBarMenu_right ul li label {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.AssistToolBarMenu ul li .BarMenuImg {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.AssistToolBarMenu ul li .btnPage {
    opacity: 1;
    width: 50%;
    height: 50%;
}

.AssistToolBarMenu ul li div .btnzoomtop,
.AssistToolBarMenu ul li div .btnzoombtm {
    opacity: 1;    
    height: 50%;
    width: 50%;
}

.AssistToolBarMenu-Bottom ul li .BarMenuImg {
    opacity: 1;  
    margin-left: 5px;
    margin-right: 5px;  
}

.AssistToolBarMenu-Bottom ul li #btnzoomtopBar,
.AssistToolBarMenu-Bottom ul li .btnPage:nth-child(1){
    margin-left: 5px;
}

.AssistToolBarMenu-Bottom ul li #btnzoombtmBar,
.AssistToolBarMenu-Bottom ul li .btnPage:nth-child(2){
    margin-right: 5px;
}

.AssistToolBarMenu-Bottom ul li div .btnzoomtopBar,
.AssistToolBarMenu-Bottom ul li div .btnzoombtmBar  {
    opacity: 1;
    width: 29px;
    height: 17px;
}

.AssistToolBarMenu-Bottom ul li .btnzoomtopBar:nth-child(1){
    margin-top: 4px;
}
.AssistToolBarMenu-Bottom ul li .btnzoomtopBar:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.AssistToolBarMenu-Bottom ul li .btnzoombtmBar:nth-child(1){
    margin-top: 4px;
}
.AssistToolBarMenu-Bottom ul li .btnzoombtmBar:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.Bargridbefore {
    display: -ms-grid;
    display: grid;
}

.Bargridafter{
    display: none;
}

.Barchangeright {
    display: block;
}

.Barchangebtm {
    display: none;
}

#ToolBarMenu ul li span img {
    height: 2em;
}

#ToolBarMenu ul li img label:hover{
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {}


/* Custom Scrollbar */
#ToolBarMenu::-webkit-scrollbar,
#AssistToolBarMenu::-webkit-scrollbar {
    width: 0px;
    /*height: 0.5em;*/
    border-radius: 10px;
    background: transparent;
}

/* scrollbar 底色*/
#ToolBarMenu::-webkit-scrollbar-track,
#AssistToolBarMenu::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* scrollbar 底角*/
#ToolBarMenu::-webkit-scrollbar-corner,
#AssistToolBarMenu::-webkit-scrollbar-corner {
    background: transparent;
}


/* scrollbar控制區塊 */
#ToolBarMenu::-webkit-scrollbar-thumb,
#AssistToolBarMenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

#JumpChapter {
    position: absolute;
    width: 200px;
    height: 100%;
}

.Chapter_header {
    position: absolute;
    width: 100%;
    background: #818181;
    height: 50px;
    z-index: 1000;
}

.Chapter_menu {
    position: absolute;
    width: 100%;
    background: #535252;
    top: 50px;
    height: 95%;
    z-index: 1000;
    font-size: 1.1em;
    overflow: auto;
}

#Chapter_ul li {
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #bcbbbb;
    border-bottom: 0.5px solid #787777;
}

#Chapter_ul li img {
    position: relative;
    margin: 15px 8px 15px 8px;
}

#Chapter_ul li label {
    position: absolute;
    margin-top: 0.9em;
    cursor: pointer;
}

.note_switch_layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    display: none;
}

.note_switch_div {
    width: 400px;
    height: 500px;
    background-color: #e8e7e1;
    /* border-radius: 5%; */
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note_switch_cont {
    background-color: #fff;
    width: 350px;
    height: 400px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px #666666;
    padding: 10px;
    overflow-x: auto;
}

.note_switch_btns {
    margin-top: 1em;
}

.note_switch_btns>.btn {
    margin: 0 0 0 6px;
    padding: 5px 15px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background: #777777;
    color: #fff;
}

.note_switch_btns>.btn:hover {
    background: #000;
}

.note_switch_cont>.title {
    line-height: 2;
    font-weight: bold;
}

.note_switch_cont>ul>li {
    line-height: 2;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_switch_cont>ul>li:hover {
    background-color: #fff7e2;
}

.note_switch_cont>ul>li.selected {
    background-color: #fdeaa3;
}

.note_switch_cont>ul>li>img {
    cursor: pointer;
}

.pageIcons_div {
    /* display: flex;
    justify-content: space-between; */
}

img.pageIcon_l {
    cursor: pointer;
    position: fixed;
    z-index: 100;
    left: 10px;
    top: calc(50% - (71px / 2));
}

img.pageIcon_r {
    cursor: pointer;
    position: fixed;
    z-index: 100;
    right: 10px;
    top: calc(50% - (71px / 2));
}

.commentBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.commentNarrow,
.commentClose {
    cursor: pointer;
}

.notMoveBtn {
    margin: 10px;
    padding: 5px 15px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background: #000;
    color: #fff;
}

.bgColorPicker-layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.7);
}

.closeColor_btn {
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    z-index: 1;
}

.searchText_btn {
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    z-index: 1;
}

.closenoteMove_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5em;
    top: 2em;
    cursor: pointer;
    z-index: 1;
}

.picker_btn,
.timer_btn,
.selector_btn,
.link_btn,
.colorPicker_btn {
    margin: 0 0 0 6px;
    padding: 5px 15px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background: #000000;
    color: #fff;
}

.timer_layout,
.selector_layout,
.page-layout,
.inputLink-layout,
.class-layout,
.textboard-layout,
.canvasboard-layout,
.whiteboard-layout,
.colorPicker-layout,
.searchText-layout,
.editor-layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    z-index: 100;
}

.textconfig-layout {
    width: 0;
    height: 0;
    position: fixed;
    display: none;
    top: 0;
    z-index: 103;
}

.timer_block,
.page-block,
.editor-block {
    width: 375px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1.5em;
    margin: 5% auto;
    position: relative;
}

.editor-input {
    width: 100%;
}

.timer_title,
.selector_title,
.inputPage_title,
.inputLink_title,
.colorPicker_title,
.bgColorPicker_title,
.searchText_title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;
    color: #34577d;
    width: 100%;
}

.timer_block>.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.time_input {
    width: 2em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    border: 0;
    background-color: transparent;
    font-weight: bold;
}

.selector_layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
}

.selector_block,
.link-block,
.class-block,
.textboard-block,
.canvasboard-block,
.whiteboard-block {
    width: 400px;
    background-color: #e8e7e1;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1.5em;
    margin: 5% auto;
    position: relative;
}

.colorPicker-block {
    width: 530px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 1.5em;
    margin: 5% auto;
    position: relative;
}

.bgColorPicker-block {
    width: 530px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1.5em;
    margin: 5% auto;
    position: relative;
}

.searchText-block{
    width: 550px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1.5em;
    margin: 5% auto;
    position: relative;
}

.textboard-block,
.canvasboard-block,
.whiteboard-block {
    width: 1024px;
    height: 768px;
}

.textconfig-block
{
    width: 400px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    position: relative;
    width: 250px;
    height: 200px;
}

.whiteboard-texts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    pointer-events: none;
    overflow: hidden;
}

.whiteboard-btns{
    position: absolute;
    top: .5em;
    right: 10em;
    cursor: pointer;
    z-index: 1;
}

.whiteboard-btns>img{
    width: 42px;
    height: 42px;
    margin-left: -10px;
}

.whiteboardPad {
    height: 100%;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}

.whiteboard-cont,
.textconfig-cont {
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 2em);
    position: relative;
}

.textconfig-cont>div:not(:nth-child(3)){
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.textconfig-cont>div:nth-child(3){
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.textconfig-cont>div>label[for]{
    margin-right: 15px;
}
.textconfig-cont>div>div{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 10px;
}
.textOption{
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.selector_block,
.editor-block {
    width: 700px;
}

.class-block {
    width: 600px;
}

.selector_inputs {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
}

.selector_inputs>label {
    margin: 0 5px;
}

.selector_start {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector_start>div {
    display: flex;
    align-items: center;
}

.selector_start>label {
    margin: 0 5px;
}

.selector_answer {
    width: 100%;
    min-height: 192px;
    max-height: 300px;
    font-size: 2em;
    line-height: 1.5;
}

.ansContent {
    overflow: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.note-layout {
    width: 100vw;
    height: 100vh;
    display: none;
}

.note-block {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.note-cont {
    z-index: 1001;
    background-color: rgba(54, 48, 48, 0.629412);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    width: 80px;
}

.note-cont>img {
    width: 50px;
    height: 50px;
}

.note-cont>label {
    line-height: 2;
    color: #fff;
}

.page-block {
    width: 150px;
}

.page-block>input {
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
}

.link-inputs {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.link_btn {
    position: absolute;
    left: 50%;
    top: 5%;
    font-size: 1.5em;
    margin: 0;
}

.class-noContent {
    display: none;
    text-align: center;
    margin: 10px;
}

.class-table {
    margin: 10px;
    background-color: #fff;
}

.class-table tr {
    line-height: 2;
}

.class-table th {
    background-color: #affffb;
    padding: 0 10px;
    border: 1px solid #e8e7e1;
    text-align: start;
    font-weight: bold;
}

.class-table td {
    padding: 10px;
    border: 1px solid #e8e7e1;
}

.class-table td input {
    border: 0;
    width: 100px;
}

.class-table label {
    margin-right: 3em;
}

.textboard-block,
.canvasboard-block {
    justify-content: unset;
}

.textboard-cont {
    width: 100%;
    height: 90%;
}

.textboard-cont>textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

.inputLink_title {
    min-height: 1em;
}

.canvasboard-cont {
    width: 100%;
    height: 400px;
    min-height: 90%;
}

.canvasboard-cont>canvas {
    background-color: #fff;
}

.colorPicker-cont{
    width: 100%;
    height: 570px;
    background-color: #fff;
}

.bgColorPicker-cont{
    width: 100%;
    height: 430px;
}

.searchText-cont{
    width: 100%;
    height: 450px;
}

.colorPicker-bgColor,
.bgColorPicker-bgColor {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    word-break: break-all;
}

.colorPicker-bgColor p,
.bgColorPicker-bgColor p {
    font-family: "Microsoft JhengHei";
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.searchText-bgColor{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    word-break: break-all;
}

.slider-block {
    float: left;
    width: 50%;
    position: relative;
}

.bgslider-block {
    height: 65%;
}

.option-block {
    float: left;
    position: relative;
    width: 100%;
}

.pickerBtn-block {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

.pickerBtn-block > button {
    margin: 10px 0 10px 0;
}

.noteMove-layout {
    z-index: 2000;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.noteMove-conts {
    display: flex;
    padding: 1em;
    margin-left: 10em;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    overflow: auto;
}

.noteMove-block {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: #fff;
    margin: .3em;
    position: relative;
}

.noteMove-hover {
    border: 1px solid #ffff00;
}

.noteMove-conts::-webkit-scrollbar {
    display: none;
}

.eBookVersion {
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
    width: 120px;
    color: #797979;
}

.color-layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.color-block {
    background-color: #fff;
    width: 500px;
    box-shadow: 0 0 10px #666666;
}

.color-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.color-row div {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.tab-layout,
.bookstore-layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.tab-layout .tab-block,
.bookstore-layout .bookstore-block {
    width: 600px;
    background-color: #e8e7e1;
    box-shadow: 0 0 10px #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-layout .tab-block {
    max-height: 80vh;
}

.bookstore-layout .bookstore-block {
    width: 250px;
}

.tab-title-layout,
.bookstore-title-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bookstore-title-layout {
    padding: 10px 0;
}

.tab_title,
.bookstore_title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #34577d;
    padding-left: 10px;
}

.tab-close-btn,
.bookstore-close-btn {
    cursor: pointer;
}

.bookstore-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}

.bookstore_btn {
    margin: 5px 0;
    padding: 5px 15px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background: #000000;
    color: #fff;
}

.tab-table-div {
    width: calc(100% - 20px);
    padding: 10px;
    max-height: 100%;
    overflow: auto;
}

.tab-table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #949494;
}

.tab-table tr th {
    background-color: #a9ffff;
    font-weight: bold;
    padding: 10px 0;
    border: 10px solid #fff;
    border-radius: 10px;
}

.tab-table tr td {
    border: 10px solid #fff;
}

.tab-table tr .tab-time {
    padding: 13px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
}

.tab-img-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}


.tab-img-layout .tab-color {
    width: 40px;
    height: 10px;
    background-color: #ab0000;
}