.ToolBarMenu {
    background-image: url(../../../../ToolBar/Toolbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ToolBarMenu_right {
    background-image: url(../../../../ToolBar/Toolbackground.png);
    background-repeat: no-repeat ;
    background-size: cover ;
}

#ToolBarSidesImg {
    margin: 10px -5px;
    z-index: 1001;
    box-shadow: 0 0 15px #696969;
}

#ToolBarMenu ul li label {
    color: #555;
    font-weight: bold;
}

.note-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    border: 5px solid #ccc;
    border-radius: 10px;
}

.note-cont {
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    width: 105px;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
}

.note-cont2 {
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    width: 80px;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
}

.note-cont2>img {
    width: 50px;
    height: 50px;
}

.note-cont>span {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.note-cont2>span {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.note-cont>label {
    line-height: 2;
    color: #555;
    font-weight: bold;
}

.note-cont2>label {
    line-height: 2;
    color: #555;
    font-weight: bold;
}

.note-cont>label.blue {
    color: #197bca;
}

.border-l-t {
    border-width: 0 2px 2px 0;
}

.border-r-t {
    border-width: 0 0 2px 2px;
}

.border-l-b {
    border-width: 2px 2px 0 0;
}

.border-r-b {
    border-width: 2px 0 0 2px;
}